<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Tambah Kuis - {{ selected_class.name }}</title>
</head>
<body>
    <h1>Tambah Kuis Baru untuk {{ selected_class.name }}</h1>
    <form action="{{ url_for('add_quiz', class_id=selected_class.id) }}" method="post">
        <input type="text" name="quiz_name" placeholder="Nama Kuis" required>
        <button type="submit">Tambah Kuis</button>
    </form>
    <br>
    <a href="{{ url_for('class_quizzes', class_id=selected_class.id) }}">Kembali ke Daftar Kuis</a>
</body>
</html>
