<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Tambah Kelas</title>
</head>
<body>
    <h1>Tambah Kelas Baru</h1>
    <form action="{{ url_for('add_class') }}" method="post">
        <input type="text" name="class_name" placeholder="Nama Kelas" required>
        <button type="submit">Tambah Kelas</button>
    </form>
    <br>
    <a href="{{ url_for('dashboard') }}">Kembali ke Dashboard</a>
</body>
</html>
