{% extends 'guru/guru_dashboard.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{{ url_for('guru_dashboard') }}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{{ url_for('guru_dashboard') }}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{{ url_for('class_detail', class_id=selected_class.id_kelas) }}">{{ selected_class.kelas }} - {{ selected_class.nama_mapel }}</a></li>
                    <li class="breadcrumb-item active">Daftar Kuis</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- Enrolled Classes -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Daftar Kuis Kelas: {{ selected_class.kelas }} - {{ selected_class.nama_mapel }}</h3>
                    </div>
                    <div class="card-body">
                        <ul>
                            {% for kuis in quizzes %}
                            <li>
                                <a href="{{ url_for('quiz_detail', class_id=selected_class.id_kelas, quiz_id=kuis.id_kuis) }}">{{ kuis.judul_kuis }}</a>
                            </li>
                            {% else %}
                            <li>Tidak ada kuis yang ditemukan</li>
                            {% endfor %}
                        </ul>
                    
                            <script>
                            function add_quiz(){
                                window.location.href="{{ url_for('add_quiz', class_id=selected_class.id_kelas) }}"
                            } 
                        </script>
                        <button onclick="add_quiz()" class="btn btn-primary">Tambah Kuis</button>
                    
                        <a href="{{ url_for('class_detail', class_id=selected_class.id_kelas) }}">Kembali ke Detail Kelas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}