<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Kuis Kelas - {{ selected_class.nama_mapel }}</title>
</head>
<body>
    <h1>Kuis Kelas: {{ selected_class.nama_mapel }}</h1>

    <ul>
        {% for kuis in quizzes %}
        <li>
            <a href="{{ url_for('quiz_detail', class_id=selected_class.id_kelas, quiz_id=kuis.id_kuis) }}">{{ kuis.judul_kuis }}</a>
        </li>
        {% else %}
        <li>Tidak ada kuis yang ditemukan</li>
        {% endfor %}
    </ul>

        <script>
        function add_quiz(){
            window.location.href="{{ url_for('add_quiz', class_id=selected_class.id_kelas) }}"
        } 
    </script>
    <button onclick="add_quiz()">Tambah Kuis</button>

    <a href="{{ url_for('class_detail', class_id=selected_class.id_kelas) }}">Kembali ke Detail Kelas</a>
</body>
</html>
