{% extends 'guru/guru_dashboard.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{{ url_for('guru_dashboard') }}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{{ url_for('guru_dashboard') }}">Dashboard</a></li>
                    <li class="breadcrumb-item active">{{ selected_class.kelas }} - {{ selected_class.nama_mapel }}</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- Enrolled Classes -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Detail Kelas: {{ selected_class.kelas }} - {{ selected_class.nama_mapel }}</h3>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li><a href="{{ url_for('class_quizzes', class_id=selected_class.id_kelas) }}">Kuis</a></li>
                            <li><a href="{{ url_for('class_enrollments', class_id=selected_class.id_kelas) }}">Daftar Peserta</a></li>
                        </ul>
                    
                        <a href="{{ url_for('guru_dashboard') }}">Kembali ke Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}