<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Materi Kelas - {{ selected_class.name }}</title>
</head>
<body>
    <h1>Materi Kelas {{ selected_class.name }}</h1>
    
    <ul>
        {% for material in materials %}
            <li>{{ material }}</li>
        {% endfor %}
    </ul>
    
    <!-- Button untuk mengarahkan ke halaman tambah materi -->
    <script>
        function add_material(){
            window.location.href="{{ url_for('add_material', class_id=selected_class.id) }}"
        } 
    </script>
    <button onclick="add_material()">Tambah Materi</button>

    <br>
    <a href="{{ url_for('class_detail', class_id=selected_class.id) }}">Kembali ke Halaman Kelas</a>
</body>
</html>
