<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Dashboard Guru</title>
</head>
<body>
    <h1>Dashboard Guru</h1>
    <table>
        <thead>
            <tr>
                <th>ID Kelas</th>
                <th>Nama Mapel</th>
                <th>Jenjang Kelas</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for kelas in classes %}
            <tr>
                <td>{{ kelas.id_kelas }}</td>
                <td>{{ kelas.nama_mapel }}</td>
                <td>{{ kelas.kelas }}</td>
                <td><a href="{{ url_for('class_detail', class_id=kelas.id_kelas) }}">Lihat Detail</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        function add_class(){
            window.location.href="{{ url_for('add_class') }}"
        } 
    </script>
    <button onclick="add_class()">Tambah Kelas</button>
</body>
</html>
