{% extends 'guru/guru_dashboard.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{{ url_for('guru_dashboard') }}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{{ url_for('guru_dashboard') }}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{{ url_for('class_detail', class_id=selected_class.id_kelas) }}">{{ selected_class.kelas }} - {{ selected_class.nama_mapel }}</a></li>
                    <li class="breadcrumb-item"><a href="{{ url_for('class_quizzes', class_id=selected_quiz.id_kelas) }}">Daftar Kuis</a></li>
                    <li class="breadcrumb-item active">{{ selected_quiz.judul_kuis }} - {{ selected_class.nama_mapel }} - {{ selected_class.kelas }}</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- Enrolled Classes -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Detail Kuis: {{ selected_quiz.judul_kuis }} - {{ selected_class.nama_mapel }} - {{ selected_class.kelas }}</h3>
                    </div>
                    <div class="card-body">
                         <!-- Tombol pilihan -->
                        <a href="{{ url_for('quiz_edit', class_id=selected_quiz.id_kelas, quiz_id=selected_quiz.id_kuis) }}">
                            <button class="btn btn-primary">Edit Soal</button>
                        </a>
                        <a href="{{ url_for('quiz_answer', class_id=selected_quiz.id_kelas, quiz_id=selected_quiz.id_kuis) }}">
                            <button class="btn btn-primary">Lihat Jawaban Siswa</button>
                        </a>

                        <a href="{{ url_for('class_quizzes', class_id=selected_quiz.id_kelas) }}">Kembali ke Daftar Kuis</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}