{% extends 'siswa/kelas_tempplate.html' %}

{% block content %}
<div class="content-header" style="background-color: #f8f9fa;">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Materi Kelas</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{{ url_for('siswa_dashboard') }}">Home</a></li>
                    <li class="breadcrumb-item active">Materi Kelas</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- Main content -->
<div class="content py-5">
    <div class="container">
        <div class="card shadow-sm border-light">
            <div class="card-header bg-info text-white">
                <h3 class="h5 mb-0">Daftar Materi</h3>
            </div>
            <div class="card-body">
                {% if no_materi_message %}
                <div class="alert alert-warning" role="alert">
                    <strong>Perhatian!</strong> {{ no_materi_message }}
                </div>
                {% else %}
                <table class="table table-bordered table-striped">
                    <thead class="table-light">
                        <tr>
                            <th>Nama Materi</th>
                            <th>File</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for materi in materi_list %}
                        <tr>
                            <td>{{ materi.nama_materi }}</td>
                            <td>
                                <a href="{{ url_for('static', filename='uploads/' + materi.file_materi.split('/')[-1].replace('\\', '/') ) }}"
                                    class="btn btn-link text-decoration-none" target="_blank">
                                    Download
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}